<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UBB_Test_app.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="UBB_Test_app.Properties.Settings.localDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DB\localDB.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <applicationSettings>
        <UBB_Test_app.Properties.Settings>
            <setting name="ListOfIP" serializeAs="String">
                <value>{"127.0.0.1", "192.168.0.101"}</value>
            </setting>
        </UBB_Test_app.Properties.Settings>
    </applicationSettings>
</configuration>